* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    /* outline: 1px solid red; */
}


body {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

a {
    color: inherit;
}

h1 {
    font-size: 1.5rem;
    color: #004475;
}

p {
    color: #4D4D4D;
}

ul {
    display: flex;
    width: 100%;
    background-color: #004475;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    color: white;
}

section {
    scroll-margin-top: 60px;
}

.text {
    text-align: center;
}

#presentation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #DAE1E7;
    padding: 2rem 1rem;
    gap: .5rem;
}

.profile-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#about-me {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
}

#hardskill {
    display: flex;
    flex-direction: column;
    background-color: #DAE1E7;
    padding: 2rem 1rem;
    gap: 1.5rem;
}

.card-hardskill {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.img-card {
    width: 50px;
    height: auto;
    padding: .5rem;
    background-color: #B8C2CC;
    border-radius: 5px;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    width: fit-content;
    padding: .5rem;
    border-radius: 5px;
    gap: 1rem;
}

.name-card {
    font-size: 1.5rem;
    color: #333333;
}

#projects {
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    gap: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card-weather, .card-todolist, .card-control {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    background-color: #E6E6E6;
    border-radius: 5px;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: space-between;
}

.tool {
    background-color: #004475;
    padding: .5rem 1rem;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.access {
    background-color: #004475;
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

#disable {
    border: #004475 1px solid;
    padding: .5rem 1rem;
    color: #004475;
    border-radius: 5px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6E6E6;
    padding: 2rem 1rem;
    gap: 2rem;
}

#card-control {
    position: relative;
}

.over {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#card-control:hover .over {
    opacity: 1;
}